<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>404 | Bus Schedules</title>
  <link rel="stylesheet" href="/stylesheets/master.css" />
  <link rel="stylesheet" href="/stylesheets/404.css">
</head>

<body>
  <section class="hero-text">
    <h1>404</h1>
    <h2>Are you lost?</h2>
    <p>Because the page you requested doesn't seem to exist.</p>
    <br>
    <button><a href="/">Return to Home</a></button>
  </section>
</body>

</html>