<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About | Bus Schedules</title>
    <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/about.css" type="text/css" />
    <script
      src="https://kit.fontawesome.com/15a888d1db.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>

    <header>
      <nav>
        <input type="checkbox" id="nav" class="hidden" />
        <label for="nav" class="nav-btn">
          <i></i>
          <i></i>
          <i></i>
        </label>
        <div class="nav-wrapper">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/contribute">Contribute</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <section class="hero-text">

        <h1>About</h1>

        <h3>TransitMaster</h3>

        <p>Designed and develped by Samadhi.</p>
        <br />

        </section>
        
  </body>
</html>
