.hero-text {
    position: absolute;
    width: 80%;
    /*width: -moz-fit-content;
      width: fit-content;*/
    margin: 0;
    padding: 2rem 0;
    text-align: center;
    top: 50vh;
    right: 50vw;
    transform: translate(
      50%,
      -50%
    ); /*
      background: rgba(255, 255, 255, 0.5);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      border: 0.2rem solid #fff;
      -webkit-backdrop-filter: blur(9px);
      backdrop-filter: blur(9px);*/
  }